assets/Drafts/mission.dtd

<!ELEMENT mission (data,objects,base)>
	<!ELEMENT data (title,description,ship,objectives)>
		<!ELEMENT title (#PCDATA)>
		<!ELEMENT description (#PCDATA)>
		<!ELEMENT ship EMPTY>
			<!ATTLIST ship
				fuel CDATA "1000"
				fuel-capacity CDATA "1000">
                <!ELEMENT objectives (collect|land|travel)>
                        <!ELEMENT collect EMPTY>
                                <!ATTLIST collect
                                        target (ore|asteroid) "ore"
                                        count CDATA "0">
                        <!ELEMENT land EMPTY>
                                <!ATTLIST land
                                        target IDREF #REQUIRED>
                        <!ELEMENT travel EMPTY>
                                <!ATTLIST travel
                                        distance CDATA #REQUIRED
                                        max-fuel-use CDATA "1000">
	<!ELEMENT objects (planet*,asteroid*,satellite*,ore+)>
		<!ELEMENT planet EMPTY>
			<!ATTLIST planet
                                id ID #REQUIRED
				x CDATA #REQUIRED
				y CDATA #REQUIRED
				radius CDATA #REQUIRED
				mass CDATA #REQUIRED>
		<!ELEMENT asteroid EMPTY>
			<!ATTLIST asteroid
				x CDATA #REQUIRED
				y CDATA #REQUIRED
				radius CDATA #REQUIRED
				mass CDATA "1"
				initVelX CDATA "0"
				initVelY CDATA "0">
		<!ELEMENT satellite EMPTY>
			<!ATTLIST satellite
				planet IDREF #REQUIRED
				distance CDATA #REQUIRED
				radius CDATA "1"
				mass CDATA "1"
				speed CDATA "1">
		<!ELEMENT ore EMPTY>
			<!ATTLIST ore
				planet IDREF #REQUIRED
				distance CDATA #REQUIRED
				radius CDATA "1"
				mass CDATA "1"
				speed CDATA "1">
        <!ELEMENT base EMPTY>
                <!ATTLIST base
                        planet IDREF #REQUIRED>